<div class="container mt-4">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= form_for [@booking] do |f| %>
          <%= f.collection_select :photographer_id, @photographers, :id, :name %>
          <%= f.label :date %>
          <%= f.date_field :date %>
          <%= f.submit class: "btn btn-danger"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
