<div class="container mt-4">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= form_for [@studio, @room, @booking] do |f| %>
          <%= f.collection_select :photographer_id, @photographers, :id, :name %>
          <%= f.label :date %>
          <%= f.date_field :date %>
          <%= f.submit class: "btn btn-danger"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if false %>
<%= f.label :time_slot %>
<%= f.select :time_slot, time_slot: ['09:00-13:00', '13:00-18:00', '09:00-18:00'] %>
<% end %>
