<div class="container">
  <div class="jumbotron">
  <h1>Hello, <%= @photographer.first_name %>!</h1>
  <h2>Your bookings:</h2>
  </div>
  <% @bookings.sort.each do |b| %>
    <ul>
      <li><strong><%= b.room.name %></strong>, <%= b.studio.name %>    <%= link_to "Update booking", edit_booking_path(b), class: "btn btn-danger"%>
        <br>
        <%= b.date_month_year %>
        <br>
        <%= button_to "Delete booking", b, method: :delete, class: "btn btn-danger" %></li>
    </ul>
  <% end %>
</div>
