<div class="container mt-4">
  <h1><%= @studio.name %></h1>
  <div class="card-deck">
    <% @rooms.each do |r| %>
    <div class="card">
      <a href="<%= studio_room_path(@studio, r) %>" ><img class="card-img-top" <%= image_tag (r.photo_path1) %></a>
      <div class="card-body">
          <h5 class="card-title"><%= link_to r.name, studio_room_path(@studio, r) %></h5>
          <p class="card-text"><%= r.description %>
            <% if @studio.wi_fi %>Wi-Fi Available.
        <% end %>
        <% if @studio.parking %>
          Free parking!
        <% end %></p>
        <%= link_to "Book", "#{@studio.id}/rooms/#{r.id}/bookings/new", class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
